/*
Huynh Thi Cam Thu
Luan Van Thi Trac Nghiem Lap Trinh Can Ban 
*/
/* 
    Created on : Oct 10, 2015, 3:20:06 PM
    Author     : Samsung
*/

/*-----------------------------------------------*/

.box#box-delete{
    margin: 50px 50px;
    
}

.box#box-delete .content-box {
    
    height: auto;
    
}

        .box#box-delete .content-box #delete .del-row{

            //background: red;
            margin: 20px 0px 0px 20px;
            padding: 35px 35px;
            border-bottom: 1px solid #000 ;

        }
        
        .box#box-delete .content-box #delete .del-row span{

            

        }
        
        .box#box-delete .content-box #delete .del-row .id{
            margin-right: 50px;
            font-size: 35px;
            font-weight: bold;
        }
        
        .box#box-delete .content-box #delete .del-row .content{
            border: 1px solid black;
            padding: 10px;
            font-size: 25px;
            font-family: VnAvant;
            
        }
        
        
        
        .box#box-delete .content-box #delete .del-row .ans{

            display: block;
            margin-left: 70px;
            margin-top: 20px;
            margin-bottom: 35px;
            font-size: 25px;
            font-family: VnAvant;

        }
        
        .box#box-delete .content-box #delete .del-row .ans p{
            display: inline;
            color: red;

        }