/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 25, 2015, 12:12:35 PM
    Author     : Samsung
*/

/*====================================== edit.php ========================================================*/

.header#header-edit{
    background: url(../Image/keyboard_close_up.jpg) scroll no-repeat center/cover;
    
}

.header#header-edit h1{
    color: black;
}

.header#header-edit p{
    color: black;
}
.nav .container#edit{
    
}