/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 20, 2015, 3:50:55 PM
    Author     : Samsung
*/

/*--------------------------------INPUT BOX LOGIN ---------------------------------------------------*/

#box-login #login-form .row span.button{
    display: block;
    background: url("../Image/bg-text-l.gif") left top no-repeat;
    height: 27px;
    line-height: 27px;
}

    #box-login #login-form .row span.button span{
    display: inline-block;
    background: url("../Image/bg-text-r.gif") right top no-repeat;
    height: 27px;
    line-height: 27px;
    }
    
    #box-login #login-form .row span.button span input{
        border: none;
        outline: none;
        background: url(../Image/bg-text-c.gif) left top repeat-x;
        height: 27px;
        line-height: 27px;
        margin: 0px 6px;
        width: 220px;
    }
    
    #box-login #login-form .row span.button span input:focus{
        
    }
    
/*----------------------------------------------BUTTON----------------------------------------------*/
button {
    height: 20px;
    width: 55px;
}
    
.main .left .choosen .btn-choosen{            
        background: url(../Image/black-bg.jpg) right top repeat;
        padding-right: 5px;
        display: inline-block;
        height: 44px;
        width: 100px;
        line-height: 44px;
}

.del{
    width: 100px;
    height: 50px;
    background: yellow;
}

.btn{
	background: black;
        text-decoration: none;
        color: white;
        padding: 10px 40px;
}

.btn:hover {
	background: #117bff;
	cursor: pointer; 
	transition: background .5s;  
}