/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 25, 2015, 12:16:05 PM
    Author     : Samsung
*/

/*================ index.php - main (NOI DUNG)========================*/
.main{
    //height: auto;
    position: relative;
}
        .main .left{            
            float: left;
            margin-left: 100px;
            width: 300px;
            height: 450px;
            //background: red;
            padding-top: 50px;
           }  
           
           .main .left .choosen{            
            margin-bottom: 25px;
           // background: url(../Image/box-tr.png);
            text-align: center;
            display: block;
           }
                .main .left .choosen a{            
                    margin-bottom: 25px;
                    color: white;
                    text-align: center;
                    display: block;
                   }
       .main .right{                     
           margin-left: 390px;
           width: 900px;         
       }
/*================ index.php - main- LEFT(NOI DUNG cot bên trái)========================*/
                                    

/* ===================index.php - main- RIGHT(NOI DUNG cot bên phải) ============================== */

.main .right .slide{
	width: 700px;
	height: 386px;
}  