/*
Huynh Thi Cam Thu
Luan Van Thi Trac Nghiem Lap Trinh Can Ban 
*/
/* 
    Created on : Sep 24, 2015, 4:49:09 PM
    Author     : Samsung
*/

.main .left #box-login{            
    margin-top:  10px;  
    width: 320px;
                        }    
.main .left .box#box-login .content-box{            
               
                                    } 
.main .left .box#box-login .title{            
               height: 55px;
               line-height: 55px;
               font-family: Scribble;
               
}

.main .left .box#box-login .Error{            
   color: red;            
               
} 