/*
Huynh Thi Cam Thu
Luan Van Thi Trac Nghiem Lap Trinh Can Ban 
*/
/* 
    Created on : Sep 24, 2015, 4:49:09 PM
    Author     : Samsung
*/

.container form{
    
    border: 2px solid #000;
     
}

.container .title{
    font-size: 50px;
    
}

.container input{
    width: 250px;
    height: 35px;
    font-size: 20px;
    line-height: 25px;
}

.container .row{
    margin-top: 25px;
}

.container #error p{
    color: #FF0000;
}

.container #submit input{
    width: auto;
    height: auto;
    background:  #999999;
    opacity: 0.5;
    color: white;
    padding: 5px 30px;
    text-align: center;
    transition: background 0.2s, color 0.2s;
}

.container #submit input:hover{
    background: white ;
    color: #999999;
    cursor: pointer;
    opacity: 0.8;
}