* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
        display: inline-block;
        color: white;
}

.clr {
	clear: both;
}

ul li {
	list-style: none;
}


img {
	border: none;
}

pre{
    white-space: pre-wrap;
    font-family: "Times New Roman";
}