@import "add.css";
@import "check-result.css";
@import "delete.css";
@import "edit.css";
@import "line.css";
@import "login.css";
@import "tinhdiem.css";
@import "quiz.css";
@import "update.css";
@import "update-form.css";
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
        background: #F1F1F1 no-repeat scroll;

}

.container {
	margin: 0 auto;
	max-width: 940px; 
	padding: 0 10px; 
}


/* Header */
.header {
  height: 800px;
  text-align: center; 
  background: url(../Image/computer_cat-wallpaper-1920x1080.jpg) no-repeat scroll center / cover;
}

.header .container {
	position: relative;
	top: 200px;
        
}

.header h1 {
	font-size: 80px;
	line-height: 100px; 
	margin-top: 0;
	margin-bottom: 80px;
        color: white;
}

@media (min-width:850px) {
	.header h1 {
		font-size: 120px;
	}
}

.header p {
	font-weight: 500;
	letter-spacing: 8px;
	margin-bottom: 20px;
	margin-top: 0;
        color: white;
}

.btn{
	background: black;
        text-decoration: none;
        color: white;
        padding: 10px 40px;
}

.btn:hover {
	background: #117bff;
	cursor: pointer; 
	transition: background .5s;  
}


/* Nav */
.nav{
    background: #000;// none repeat scroll 0% 0%;
    height: 80px;
    width: 100%;
}

.nav ul {
	list-style: outside none none;
        padding: 0px;
        margin: 0px auto;
        height: 80px;
}

.nav ul li {
	color: #FFF;
        height: 80px;
        list-style: outside none none;
        transition: background 0.5s ease 0s;
        line-height: 80px;
        padding: 0px 10px;
        float: left;
}


.nav ul li:hover {
    background: #117bff;
    cursor: pointer;
}

.nav ul li.active{
    background: red;
}

/* Main */
.main{
    
}
.main .container {
	margin: 80px auto;
        line-height: 40px;
}

.main img{
    float: left;
    margin: 50px 80px 50px 0px;
    width: 396px;
    height:229px;
}

/* Jumbotron */
.jumbotron {
	height: 600px; 
	text-align: right;
        background: url(../Image/apple_desktop-wallpaper.jpg) no-repeat scroll center / cover;
        color: white;
}

.jumbotron .container {
	position: relative;
	top: 220px;
        
}


/* Footer */
.footer { 
        background: #000 none repeat scroll 0% 0%;
	font-size: 14px;
}
.footer p {
    color: #FFF;
    font-size: 14px;
    height: 80px;
    line-height: 80px;
    margin: 0px;
}
/* Media Queries */
@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main, .jumbotron {
    padding: 0 30px;
  }

  .main img {
    width: 100%;
  }
}


/*============================== BOX =====================================*/
.box{
    font: 12px Arial, Helvetica, sans-serif;
    text-align: justify;
        box-shadow: 1px 1px 45px #C3BDBD;
}
	.box .title{
		height: 43px;
		line-height: 43px;
                font-family: Adobe Caslon Pro Bold;
		font-size: 18px;
	}
	
	.box .header-box{
		background: url(../Image/box-tl.png) left top no-repeat;
	}
	
		.box .header-box .tr{
			background: url(../Image/box-tr.png) right top no-repeat;
		}
		
		.box .header-box .tc{
			background-color: #ffffff;
			height: 11px;
			margin: -1px 10px;
			border-top: 1px solid #e1e1e1;
		}

	.box .content-box{
		background-color: #ffffff;
		//padding: 0 12px;
		margin: -1px 0px;
		border: 1px solid #e1e1e1;
		border-width: 0px 1px;
                height: 271px;
                
	}

	.box .footer-box{	
		background: url(../Image/box-bl.png) left bottom no-repeat;
	}
	
		.box .footer-box .br{
			background: url(../Image/box-br.png) right bottom no-repeat;
		}
		
		.box .footer-box .bc{
			background-color: #ffffff;
			height: 11px;
			margin: 0 10px;
			border-bottom: 1px solid #e1e1e1;
		}
                
                
.tracnghiem .header{                    
    height: 300px;
    text-align: center; 
    background: url(../Image/book.jpg) no-repeat scroll center / cover;
}                
                               