/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 25, 2015, 12:17:37 PM
    Author     : Samsung
*/

/*======================================= thitracnghiem.php ======================================*/                
    /*-------------LEFT -CATEGORY DANH SACH DE THI-------------*/
    .tracnghiem{
        height: max-content;
        margin-bottom: 100px;
        position: relative;
    }
    .tracnghiem .main .left-test{            
            float: left;
            margin-left: 170px;
            width: 250px;
            height: 500px;
            
            
           } 
                 
        .tracnghiem .box .content-box{
            height: 400px;

        }        
            .tracnghiem .box#box-nddt .content-box .title{
                font-family: Adobe Caslon Pro Bold;
            }

            .tracnghiem .box .content-box ul{

            }

                .tracnghiem .box .content-box ul li{
                    border-bottom: 1px solid #d2d2d2;
                    font-size: 20px;
                    padding: 7px;

                }

                    .tracnghiem .box .content-box ul li a{
                        color: #6699cc;

                    }

                        .tracnghiem .box .content-box ul li a:hover{
                            color: red;
                        }
                        .tracnghiem .box .content-box ul li a:visited{
                           
                        }
                        
    /*-------------tracnghiem.php - RIGHT Hien thi noi dung de thi-------------*/
    .tracnghiem .main .right {
           margin-left: 430px;
           width: 900px;
    }
        .tracnghiem .right .box#box-nddt{                     
                padding-bottom: 15px;
                
            }
            .tracnghiem .right .box#box-nddt .content-box{                     
                height: auto;
                
            }
            
                .tracnghiem .right .box#box-nddt .content-box .question{                     
                    font: italic bold 40px/30px Georgia, serif;
                    display: block;

                }
                
                .tracnghiem .right .box#box-nddt .content-box .answer {
                    
                }
                
                    .tracnghiem .right .box#box-nddt .content-box .answer input {
                        margin-bottom: 20px;
                        padding-right: 30px;
                        
                        
                    }
                    .tracnghiem .right .box#box-nddt .content-box .answer span {
                        font-size: 25px;
                        display: block;
                        
                        
                    }
                    
                    .tracnghiem .right .box#box-nddt .content-box .answer span:hover{                     
                        color: red;

                    }