/*
Huynh Thi Cam Thu
Luan Van Thi Trac Nghiem Lap Trinh Can Ban 
*/
/* 
    Created on : Sep 19, 2015, 11:19:28 AM
    Author     : Samsung
*/

.tinhdiem{
    margin: 50px;
}

.tinhdiem-content{
    position: relative;
}

.tinhdiem .box#box-tinhdiem{
    margin: 50px 200px;
    margin-right: 200px;
    transform: skewX(0deg);
}

.tinhdiem .box#box-tinhdiem .content-box{
    height: 374px;
    
}

.tinhdiem .box#box-tinhdiem .point-comment{
    margin-bottom: 15px;
    height: 300px;
    
}
    .tinhdiem .box#box-tinhdiem .diem{
    text-align: center;
    color: red;
    
    }
    
    .tinhdiem .box#box-tinhdiem .cmt{
    text-align: center;
    color: blue;
    }
    
    .tinhdiem .box#box-tinhdiem .choosen{
        position: relative;
    }
    
        .tinhdiem .box#box-tinhdiem .choosen .check-result{
            margin-left: 180px;
            position: absolute;
        }
        
            .tinhdiem .box#box-tinhdiem .choosen button{
                width: auto;
                height: 40px;
                padding: 10px 30px;
                background: black;
                color: white;
                transition: background 0.5s,color 0.5s;
            }
            
            .tinhdiem .box#box-tinhdiem .choosen button:hover{                
                color: red;
                background: #67aff4;
                cursor: pointer;
                box-shadow: 1px 1px 25px #9c77e1;
            }
        
        .tinhdiem .box#box-tinhdiem .choosen .try-again{
            width: 300px;
            right: 0px;
            position: absolute;
        }